{% extends 'basefront.html.twig' %}

{% block title %}Reports List{% endblock %}

{% block body %}
        <div class="container-fluid py-5">

	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Reports</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="#">Home</a>
							</li>
							<li class="breadcrumb-item active">DataTables</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-14">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">Reports Table</h3>
								<input type="string"  onkeyup="search()" class="form-control" id="search" >

							</div>
							<!-- /.card-header -->
							<div class="card-body">
							


    <table class="table" id="example1" class="table table-bordered table-hover">
        <thead>
            <tr>
                {# <th>ReportId</th>  #}
                <th>Report Subject</th>
                <th>Report Description</th>
                <th>Involvment</th>
                <th>Incident Type</th>
                <th>Incident Date</th>
                <th>Incident Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                {# <td>{{ report.reportId }}</td> #}
                <td>{{ report.reportSubject }}</td>
                <td>{{ report.reportDescription }}</td>
                <td>{{ report.involvment }}</td>
                <td>{{ report.incidentType }}</td>
                <td>{{ report.incidentDate ? report.incidentDate|date('Y-m-d') : '' }}</td>
                <td>{{ report.incidentLocation }}</td>
                
                <td>
                    <a href="{{ path('app_reports_show', {'reportId': report.reportId}) }}">show</a> 
                    {{ include('reports/_delete_form.html.twig') }}
					{# {{ include('reports/_delete_form.html.twig') }} #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	<div class="row">
        <div class="col-12">
          <a href="{{ path('app_reports_new') }}">create new</a>
		  </div>
    </div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>

    </div>



    <!-- jQuery -->
<script src="{{ asset('../../plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('../../plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- DataTables  & Plugins -->
<script src="{{ asset('../../plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ asset('../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{ asset('../../plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{ asset('../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{ asset('../../plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{ asset('../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ asset('../../plugins/jszip/jszip.min.js')}}"></script>
<script src="{{ asset('../../plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{ asset('../../plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{ asset('../../plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{ asset('../../plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{ asset('../../plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('../../dist/js/adminlte.min.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('../../dist/js/demo.js')}}"></script>
<!-- Page specific script -->


<script>
function search()
{
var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("search").value ; 
 $.ajax({
        method: "GET",
        url: "{{ path('app_reports_search') }}",
        data: {search: input},
        success: function(response){
            console.log(response);   
            $('#example1 tbody').empty();
            if (response.length === 0) {
          var messageRow = $('<tr>').append($('<td colspan="3">').text('No results found.'));
          $('#example1 tbody').append(messageRow);
          
        } else {
          // Add search results to table
           $.each(response, function(index, reports) {
           
            var row = $('<tr>');
            row.append($('<td>').text(reports.reportSubject));
        
            row.append($('<td>').text(reports.reportId));
            row.append($('<td>').text(reports.reportSubject));
            row.append($('<td>').text(reports.involvment));
            row.append($('<td>').text(reports.incidentLocation));
            $('#example1 tbody').append(row);
          });
        }
		
        }
    });}
	
    </script>


{% endblock %}
