{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
<div class="container">
    <h1>Review index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ReviewId</th>
                <th>PlaceName</th>
                <th>Rating</th>
                <th>ReviewTxt</th>
                <th>ReviewDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.reviewId }}</td>
                <td>{{ review.placeName }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.reviewTxt }}</td>
                <td>{{ review.reviewDate ? review.reviewDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_review_show', {'reviewId': review.reviewId}) }}">show</a>
                    <a href="{{ path('app_review_edit', {'reviewId': review.reviewId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_review_new') }}">Create new</a>
    </div>
{% endblock %}
